/*this has three rules*/
.string.firstName {
  content: "Default value";
  max-width: "50em";
}

.integer.age {
    content: "25";
  }

.boolean.isDone {
  content: "true";
}

.data-url.uploadFile {
  content: ".pdf";
}
